@custom-media --sm screen and (max-width: 1024px);

:root {
    --shri-color-text-base: #FFFFFF;
    --shri-color-text-base-project-default: #000000;
    --shri-color-text-secondary: rgba(255, 255, 255, 0.6);
    --shri-color-text-secondary-project-default: rgba(0, 0, 0, 0.6);
    --shri-color-text-additional: rgba(255, 255, 255, 0.3);
    --shri-color-text-additional-project-default: rgba(0, 0, 0, 0.3);

    --shri-color-text-link-project-brand: #FFFFFF;
    --shri-color-text-link-project-warning: #FFFFFF;
    --shri-color-text-link-project-default: #0077ff;
    --shri-color-text-link-project-inverse: #0077ff;

    --shri-color-background-default-project-default: #FFFFFF;
    --shri-color-background-default-project-brand: #0077ff;
    --shri-color-background-default-project-inverse: #000000;
    --shri-color-background-default-project-warning: #ff3333;

    --shri-color-background-emphasis: #FFFFFF;
    --shri-color-background-emphasis-project-default: #ffcc00;

    --shri-color-border-project-default: #000000;
    --shri-color-border-project-brand: #FFFFFF;
    --shri-color-border-project-inverse: #FFFFFF;
    --shri-color-border-project-warning: #ff3333;

    --shri-size-default-font-size-s: 8px;
    --shri-size-default-font-size-m: 10px;
    --shri-size-default-font-size-l: 11px;
    --shri-size-default-font-size-xl: 13px;
    --shri-size-default-font-size-xxl: 16px;

    --shri-size-default-line-spacing-s: 21px;
    --shri-size-default-line-spacing-m: 25px;
    --shri-size-default-line-spacing-l: 28px;
    --shri-size-default-line-spacing-xl: 34px;
    --shri-size-default-line-spacing-xxl: 38px;

    --shri-space-default-xxxs: 3px;
    --shri-space-default-xxs: 6px;
    --shri-space-default-xs: 9px;
    --shri-space-default-s: 15px;
    --shri-space-default-m: 18px;
    --shri-space-default-l: 24px;
    --shri-space-default-xl: 27px;
    --shri-space-default-xxl: 36px;
    --shri-space-default-xxxl: 45px;
    --shri-space-default-xxxxl: 51px;
    --shri-space-default-xxxxxl: 72px;

    --background-image-color: #000000;
    --background-color: var(--shri-color-background-default-project-default);
}

body {
    background: var(--background-color);
}

.theme_color_project {
    &-default {
        --background-color: var(--shri-color-background-default-project-default);
        --background-image-color: var(--shri-color-background-default-project-inverse);
        --border-color: var(--shri-color-border-project-default);
        --accent-color: var(--shri-color-background-emphasis-project-default);
        --main-text-color: var(--shri-color-text-base-project-default);
     }
    &-inverse {
        --background-color: var(--shri-color-background-default-project-inverse);
        --background-image-color: var(--shri-color-background-default-project-default);
        --border-color: var(--shri-color-border-project-inverse);
        --accent-color: var(--shri-color-background-emphasis);
        --main-text-color: var(--shri-color-text-base);
    }
}

.layout {

    &__container {

        &_align_center {
             margin-left: auto;
             margin-right: auto;
         }

        &_size_s {
            max-width: 920px;
         }

        &_size_m {
             max-width: 1280px;
         }

        &_space-v_xxxxl {
             padding-top: var(--shri-space-default-xxxxl);
             padding-bottom: var(--shri-space-default-xxxxl);
         }

        &_space-v_xxxxxl {
             padding-top: var(--shri-space-default-xxxxxl);
             padding-bottom: var(--shri-space-default-xxxxxl);
         }

        &_indent-b_xxl {
            margin-bottom: var(--shri-space-default-xxl);
         }

        &_indent-b_xxxxl {
             margin-bottom: var(--shri-space-default-xxxxl);
         }
    }
}

.grid {
    /*display: flex;*/
    &_m-columns {
        &_12 { --col-count: 12; }
        &_10 { --col-count: 10; }
     }

    &_col-gap {
        &_two-thirds { --margin: 12px; }
        &_full { --margin: 13px; }
        &_half { --margin: 9px; }
     }

    &_row-gap {
        &_half {}
        &_full {}
     }

    &__fraction {
        /*display: flex;*/
        &_m-col {
            &_2 {
                 --col-count: 2;
             }
            &_3 {
                 --col-count: 3;
             }
            &_4 {
                 --col-count: 4;
                 flex-basis: calc(30% / var(--col-count));
             }
            &_5 {
                 --col-count: 5;
                 /*max-width: 49%;*/
                 flex-basis: calc(98% / var(--col-count));
             }
            &_8 {
                 --col-count: 8;
                 flex-basis: calc(327% / var(--col-count));
             }
         }

        /*max-width: calc(10% * var(--col-count));*/
        /*4 -31*/
        /*flex-basis: calc(100% / var(--col-count));*/

        flex-grow: 1;
        margin-right: var(--margin);
        margin-left: var(--margin);
        box-sizing: border-box;
     }

    display: flex;

    flex-wrap: wrap;
    margin-right: calc(var(--margin) * -1);
    margin-left: calc(var(--margin) * -1);
}

.card {
    &_border_all {}
    &_view_default {}

    &__content{
        &_distribute_center {}
        &_vertical-align_center {}
        &_space-a {
            &_m {
                 padding: var(--shri-space-default-m);
             }
            &_l {
                 padding: var(--shri-space-default-l);
             }
            &_xl{
                 padding: var(--shri-space-default-xl);
             }
            &_xxl{
                 padding: var(--shri-space-default-xxl);
             }
            &_xxxl{
                 padding: var(--shri-space-default-xxxl);
             }
        }
     }
    &__footer {
         &_distribute {
            &_between {}
            &_center {}
            &_right {}
          }
        &_vertical-align {
            &_center {}
            &_top {}
            &_bottom {
                display: flex;
                 align-items: flex-end;
             }
           }
        &_space-a {
            &_m {
                 padding: var(--shri-space-default-m);
             }
            &_l {
                 padding: var(--shri-space-default-l);
             }
            &_xl{
                 padding: var(--shri-space-default-xl);
             }
            &_xxl{
                 padding: var(--shri-space-default-xxl);
             }
         }
     }
}

.form {
    &_border_all {}
    &_view_default {}
    &__item {

        &_border_bottom {}
        &_distribute_between {
             display: flex;
             justify-content: space-between;
             align-items: center;
         }
        &_vertical-align_center {
             align-self: center;
         }

        &_indent-b {
            &_xxxs {
                margin-bottom: var(--shri-space-default-xxxs);
             }
            &_xxs {
                 margin-bottom: var(--shri-space-default-xxs);
             }
            &_s {
                 margin-bottom: var(--shri-space-default-s);
             }
            &_m {
                 margin-bottom: var(--shri-space-default-m);
             }
            &_l {
                 margin-bottom: var(--shri-space-default-l);
             }
            &_xl {
                 margin-bottom: var(--shri-space-default-xl);
             }
            &_xxl {
                 margin-bottom: var(--shri-space-default-xxl);
             }
            &_xxxl {
                 margin-bottom: var(--shri-space-default-xxxl);
             }
            &_xxxxl {
                 margin-bottom: var(--shri-space-default-xxxxl);
             }
         }

        &_space-h {
            &_xxxs {
                padding-left: var(--shri-space-default-xxxs);
                padding-right: var(--shri-space-default-xxxs);
             }
            &_xxs {
                 padding-left: var(--shri-space-default-xxs);
                 padding-right: var(--shri-space-default-xxs);
             }
            &_s {
                 padding-left: var(--shri-space-default-s);
                 padding-right: var(--shri-space-default-s);
             }
            &_m {
                 padding-left: var(--shri-space-default-m);
                 padding-right: var(--shri-space-default-m);
             }
            &_l {
                 padding-left: var(--shri-space-default-l);
                 padding-right: var(--shri-space-default-l);
             }
            &_xl {
                 padding-left: var(--shri-space-default-xl);
                 padding-right: var(--shri-space-default-xl);
             }
            &_xxl {
                 padding-left: var(--shri-space-default-xxl);
                 padding-right: var(--shri-space-default-xxl);
             }
            &_xxxl {
                 padding-left: var(--shri-space-default-xxxl);
                 padding-right: var(--shri-space-default-xxxl);
             }
            &_xxxxl {
                 padding-left: var(--shri-space-default-xxxxl);
                 padding-right: var(--shri-space-default-xxxxl);
             }
         }

        &_space-v {
            &_xxxs {
                 padding-top: var(--shri-space-default-xxxs);
                 padding-bottom: var(--shri-space-default-xxxs);
             }
            &_xxs {
                 padding-top: var(--shri-space-default-xxs);
                 padding-bottom: var(--shri-space-default-xxs);
             }
            &_s {
                 padding-top: var(--shri-space-default-s);
                 padding-bottom: var(--shri-space-default-s);
             }
            &_m {
                 padding-top: var(--shri-space-default-m);
                 padding-bottom: var(--shri-space-default-m);
             }
            &_l {
                 padding-top: var(--shri-space-default-l);
                 padding-bottom: var(--shri-space-default-l);
             }
            &_xl {
                 padding-top: var(--shri-space-default-xl);
                 padding-bottom: var(--shri-space-default-xl);
             }
            &_xxl {
                 padding-top: var(--shri-space-default-xxl);
                 padding-bottom: var(--shri-space-default-xxl);
             }
            &_xxxl {
                 padding-top: var(--shri-space-default-xxxl);
                 padding-bottom: var(--shri-space-default-xxxl);
             }
            &_xxxxl {
                 padding-top: var(--shri-space-default-xxxxl);
                 padding-bottom: var(--shri-space-default-xxxxl);
             }
         }

     }

    &__label {
        display:inline-block;

    &_default {width: 35%;}
     }
    &__control {
         width: 100%;
         display:inline-block;
        &_default {}
     }
}

.payment {
    /*max-width: 400px;*/
    border: 3px solid var(--border-color);
    .form{
        &__control {
        margin-left: 130px;
            .button {
                margin-left: auto;
            }
        }
        &__item {
            margin-bottom: 20px;
         }
        /*&__item:last-child{*/
        /*    background: red;*/
        /* }*/
    }

    &__header {
         border-bottom: 3px solid var(--border-color);
         padding-top: 32px;
         padding-bottom: 38px;
         margin-bottom: 50px;
     }
    &__content {
        padding-top: 21px;
         border-bottom: 3px solid var(--border-color);

    .form__item:last-child {
        margin-bottom: 0;
    }
}

    &__footer {
        padding-top: 3px;
        padding-bottom: 5px;
     }
}

.informer {
    &_border_all {
        border: 3px var(--border-color);
     }
    &_view_default {}

    &__content{
        &_distribute{
            &_default {}
            &_between {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
             }
            &_center {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-wrap: wrap;
             }
         }
        &_space-a {
            &_xl{
                padding: var(--shri-space-default-xl);
             }
            &_xxl{
                 padding: var(--shri-space-default-xxl);
             }
         }
     }

    &__action{
        &_distribute{
            &_default {}
            &_between {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
             }
            &_center{
                 display: flex;
                 justify-content: center;
                 align-items: center;
             }
        }
        &_space-a{
            &_xl{
                 padding: var(--shri-space-default-xl);
             }
            &_xxl{
                 padding: var(--shri-space-default-xxl);
             }
        }
    }
}

.list {
    &_border_all { border: solid 3px var(--border-color); }
    &_view_default {}
    &__item{
        &_border {
            &_bottom { border-bottom: solid 3px var(--border-color); }
            &_top { border-top: solid 3px var(--border-color); }
         }
        &_distribute_between {
             display: flex;
             justify-content: space-between;
         }
        &_vertical-align_center {
             display: flex;
             align-items: center;
         }
        &_indent-t_m { margin-bottom: var(--shri-space-default-m); }
        &_indent-b {
            &_s {
                margin-bottom: var(--shri-space-default-s);
             }
            &_m {
                 margin-bottom: var(--shri-space-default-m);
             }
            &_l {
                 margin-bottom: var(--shri-space-default-l);
             }
            &_xl{
                 margin-bottom: var(--shri-space-default-xl);
             }
         }
        &_space-b_s { padding: var(--shri-space-default-s); }
        &_space-a_m { padding: var(--shri-space-default-m); }
     }
}


.section {
    &_indent-b {
        &_xxl {}
        &_xxxxl {}
     }
    &_space-v {
        &_xxl {}
        &_xxxxl {}
     }
}

.text {
    &_align_center {
         display: flex;
         justify-content: center;
         align-items: center;
     }
    &_size{
        &_s {
            font-size: var(--shri-size-default-font-size-s);
         }
        &_s .text__word{
            height: 8px;
            &_width {
                &_s { width: 20px; }
                &_m { width: 48px; }
                &_l { width: 100px; }
            }
         }

        &_m {
             font-size: var(--shri-size-default-font-size-m);
         }
        &_m .text__word {
             margin-top: 6px;
             margin-bottom: 6px;
            height: 10px;
            &_width {
                &_s { width: 24px; }
                &_m { width: 56px; }
                &_l { width: 100px; }
            }
        }

        &_l {
             font-size: var(--shri-size-default-font-size-l);
         }
        &_l .text__word {
             height: 11px;
            &_width {
                &_s { width: 28px; }
                &_m { width: 68px; }
                &_l { width: 138px; }
            }
         }

        &_xl {
             font-size: var(--shri-size-default-font-size-xl);
         }
        &_xl .text__word {
             height: 13px;
            &_width {
                &_s { width: 32px; }
                &_m { width: 74px; }
                &_l { width: 154px; }
            }
         }

        &_xxl {
             font-size: var(--shri-size-default-font-size-xxl);
         }
        &_xxl .text__word {
             height: 16px;
            &_width {
                &_s { width: 36px; }
                &_m { width: 88px; }
                &_l { width: 184px; }
            }
         }
     }

    &_type{
        &_h1 {
             margin: 18px 0 24px;
         }
        &_h2 {
             margin: 45px 0 21px;
         }
        &_h3 {
             margin: 42px 0 0;
         }
        &_p {
             margin: 15px 0 21px;
         }
     }
    &_view{
        &_primary {}
        &_secondary {}
        &_ghost {}
        &_link {}
     }

    &__word { background: var(--main-text-color); }
}

.avatar {
    &_size_m {
        width: 60px;
        height: 60px;
     }
}

.brand-logo {
    &_name {
        &_blue {
            background: #5dcdf9;
         }
        &_green {
             background: #23b324;
         }
        &_red {
             background: #ff3333;
         }
        &_purple {
             background: #c62cff;
         }
     }
    &_size {
        &_xxs {
            width: 24px;
            height: 24px;
         }
        &_xs {
             width: 32px;
             height: 32px;
         }
        &_s {
             width: 40px;
             height: 40px;
         }
        &_m {
             width: 60px;
             height: 60px;
         }
        &_l {
             width: 80px;
             height: 80px;
         }
     }
}


.placeholder {
    /*display: flex;*/
    width: 100%;
    flex-wrap: wrap;

    &_size_m {
        height: 72px;
        width: 72px;
     }
    &_view_primary {
        /*test*/
        background: white;
     }
}

.button {
    background: var(--accent-color);
    width: 200px;

    &_size {
        &_s {
            height: 24px;
         }
        &_m {
            height: 32px;
         }
        &_l {
            height: 42px;
         }
        &_xl {
             height: 56px;
         }
        &_xxl {
             height: 64px;
         }
     }
    &_width_full {}
}

.input {
    border: solid 3px var(--border-color);
    width: 100%;

    &_size {
        &_s {
            height: 24px;
         }
        &_m {
             height: 32px;
         }
        &_l {
             height: 42px;
         }
        &_xl {
             height: 56px;
         }
        &_xxl {
             height: 64px;
         }
    }
}

.warning {
    min-width: 335px;
    background: var(--shri-color-background-default-project-warning);

    &__content {
        padding-top: 40px;
     }

    .informer__content {
        flex-basis: 100%;
    }

    .placeholder {
        margin-top: var(--shri-space-default-m);
        margin-bottom: var(--shri-space-default-m);
    }

    .button {
        margin-top: -4px;
        background: var(--shri-color-text-link-project-warning);
    }

    &__button-wrapper { padding-bottom: 30px }

    .text {
        margin-top: 9px;

        width: 90%;
        flex-wrap: wrap;
    }

    .text__word {
        margin-bottom: 21px;

        display: inline-block;
        background: var(--shri-color-text-link-project-warning);

    }
}

.text__word {
    display: inline-block;
}

.image {
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
}

.product {
    min-height: 300px;
    border: solid 3px var(--border-color);
    &__title {
         padding-top: 60px;
         padding-bottom: 54px;
     }
    &__content {
        .theme_color_project-inverse {
            background: var(--background-color);
            .image {
                background-image: url(/static/images/image-placeholder-inverse.svg);
            }
        }
        .theme_color_project-default {
            background: var(--background-color);
            .image {
                background-image: url(/static/images/image-placeholder-primary.svg);
            }
        }
     }

    &__image {
        height: 160px;
     }

    &__footer {
        margin-top: 24px;
    }
    .text{
        &:first-child {
            margin-bottom: 15px;
        }
    }
}

/*.layout__container .grid { background: #ff3333 }*/

.section_space-v_xxxxl {
    padding-bottom: 3px;
}

.theme_color_project-brand {
    background: var(--shri-color-background-default-project-brand);
    .image {
        background-image: url(/static/images/image-placeholder-inverse.svg);
        border: 3px solid var(--shri-color-border-project-brand);
    }
    .text__word {
        background: var(--shri-color-text-base);
    }
    .button {
        background: var(--shri-color-background-emphasis);
    }
}

.theme_color_project-inverse {
    background: var(--shri-color-background-default-project-inverse);
    .text__word {
        background: var(--shri-color-text-base);
    }
    .button {
        background: var(--shri-color-background-emphasis);
    }
}

.history {

    &__transaction:last-child {
         /*display: flex;*/
         /*align-items: center;*/
        border-bottom: 0;
    }
    &__show {
         display: flex;
         justify-content: space-between;
         align-items: center;
             /*align-items: center;*/
        margin-bottom: 0;
     }
    &__details {
        display: flex;
        align-items: center;
         .history__time {
             margin-right: var(--shri-space-default-l);
             display: inline-block;
             .text:first-child {
                 margin-bottom: 13px;
             }
         }
         .history__destination {
             display: flex;
             align-items: center;
            * { display: inline-block; }
         }
    }
    &__label {
         margin-left: var(--shri-space-default-s);
         height: 11px;
     }
    &__pic { height: 60px; }
    &__hide {
         max-height: 0;
         margin: 0;
         visibility: hidden;
    }
}

.cover {
    min-height: 472px;
    .text {
        margin-top: 32px;
     }
    .text:last-child {
        margin-top: 18px;
    }
    &__footer {
        margin-top: 16px;
        margin-bottom: -23px;
     }
}

.event {
    min-height: 400px;
    background: black;

    .text{
        width: 100%;
        flex-wrap: wrap;
        margin-top: 8px;
        &__word {
             background: white;
         }
    }
    .avatar { background: white; }


    &__description {
         .text{
             margin-top: 20px;
             &__word {
                 margin-top: 17px;
             }
         }
     }

    &__content {
        /*margin-bottom: 10px;*/
     }

    &__preview {
        display: flex;
        justify-content: center;
        margin-bottom: var(--shri-space-default-xxl);
        div { display: inline-block; }
        .avatar {
            margin-right: var(--shri-space-default-xs);
        }
     }

    &__title {
        display: flex;
        align-items: flex-end;
        margin-bottom: var(--shri-space-default-s);
      }

     &__footer {
      .text {
          margin-top: -11px;
      }
        .text__word { background: var(--shri-color-text-link-project-default); }
      }
}

.header {
    margin-bottom: var(--shri-space-default-xxxl);
    margin-top: var(--shri-space-default-xxxl);

    margin-right: var(--shri-space-default-xl);
    margin-left: var(--shri-space-default-xl);

    max-width: 1280px;

    margin-left: auto;
    margin-right: auto;

    &__content {
         display: flex;
         justify-content: space-between;
     }

    &__logo {
        background: var(--main-text-color);
        width: 179px;
        height: 34px;
     }
}

.onoffswitch {
    width: 97px;
    height: 32px;
    border: solid 2px var(--border-color);
    padding-right: 4px;
    padding-left: 4px;

    display: flex;
    align-items: center;

    &__button {
        background: var(--main-text-color);
        width: 24px;
        height: 24px;
     }
}

.footer {

    max-width: 1280px;
    margin-bottom: var(--shri-space-default-xxxl);
    margin-top: var(--shri-space-default-xxxl);

    margin-right: var(--shri-space-default-xl);
    margin-left: var(--shri-space-default-xl);

    margin-left: auto;
    margin-right: auto;

    &__content {
         display: flex;
         justify-content: space-between;
     }

     .text__word {
         display: inline-block;
     }
}

.layout__container {
    margin-bottom: var(--shri-space-default-xxl);
}

.show {
    .history {
        &__hide {
            margin-top: 26px;
            visibility: unset;
            max-height: 500px;
            overflow: hidden;
            transition: max-height 0.35s ease-in;
            .text__word {
                display: inline-block;
            }
        }
        &__description {
            margin-bottom: 30px;
            .text {
                margin-top: var(--shri-space-default-s);
                &:first-child{
                     margin-top: 0;
                }
            }
        }
        &__actions {
            margin-bottom: 7px;
         }
    }
}

.on {
    background: var(--main-text-color);
    margin-left: 75%;
    transition: all 0.2s ease-in;
}

.off {
    background: var(--main-text-color);
    margin-left: 0;
    transition: all 0.2s ease-in;
}

